/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/apis/random-dog-image/random-dog-image.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.random-dog-image_random_dog_image__M1atU {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  inline-size: 100%;
  block-size: 80vh;
}

.random-dog-image_separator__Tkl0L {
  border-radius: 1px;
  border-right: 1px solid var(--accent-color);
  box-shadow: 0px 0px 1px var(--accent-color);
  inline-size: 1px;
  block-size: 85%;
}

.random-dog-image_side__g9l_6 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  inline-size: 50%;
  block-size: 90%;
}

.random-dog-image_side__title__NfQHS {
  opacity: .8;
  color: var(--main-text-color);
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 0px 0px 3px var(--accent-color);
}

.random-dog-image_try_it__xPkJH {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
  border-radius: 4px;
  padding: 10px;
  overflow: scroll;
  color: var(--main-text-color);
  background-color: var(--accent-color);
  inline-size: 90%;
  block-size: 85%;
  scrollbar-width: 3px;
}

.random-dog-image_submit_button__IAqwt {
  margin-block-start: 30px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  padding: 5px 10px;
  color: currentColor;
  font-size: 20px;
  background-color: var(--accent-color);
  cursor: pointer;
  inline-size: 60%;
}

.random-dog-image_dog_image__container__xTsq_ {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 0px 3px var(--main-text-color);
  inline-size: 60%;
  aspect-ratio: 1 / 1;
}

.random-dog-image_dog_image__b58ii {
  border-radius: 4px;
  object-fit: contain;
  inline-size: 100%;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/code-block/code-block.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.code-block_code_block___IgLw {
  position: relative;
  border-radius: 4px;
  padding: 10px;
  overflow: scroll;
  color: var(--main-text-color);
  font-family: monospace;
  background-color: var(--accent-color);
  inline-size: 90%;
  block-size: 85%;
  scrollbar-width: 3px;
}

.code-block_copy_button__Hf610 {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding: 4px;
  background-color: var(--accent-color);
  transition: all .2s ease;
  cursor: pointer;
}

.code-block_copy_button__Hf610:hover {
  box-shadow: 0px 0px 3px black;
}

.code-block_copy_button__Hf610:active {
  box-shadow: inset 0px 0px 3px black;
}

.code-block_copy_icon__X_PWS {
  inline-size: 25px;
  block-size: 25px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/app-header/app-header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.app-header_header__ZoRzr {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px var(--accent-color);
  color: var(--main-text-color);
  background-color: var(--accent-bg-color);
  inline-size: 100%;
  block-size: min-content;
}

.app-header_title__tGs1L {
  margin: 20px 0;
}

.app-header_titleLink__NVop_ {
  color: var(--main-text-color);
  text-decoration: none;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/nav/nav.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.nav_nav___VooF {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 85%;
}

.nav_links__list__W_s5q {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-block-end: 15px;
  overflow: scroll;
  list-style: none;
  scrollbar-width: none;
  inline-size: 100%;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/UI/button/nav-button/nav-button.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.nav-button_navButton__H11ef {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px var(--bg-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  transition: color .3s ease;
}

.nav-button_navButton__H11ef:hover {
  border-color: var(--bg-color);
  color: var(--bg-color);
}

.nav-button_active__RQdtV {
  border-color: var(--accent-color);
  box-shadow: inset 0px 0px 4px var(--accent-color);
  color: var(--bg-color);
  background-color: var(--accent-color);
}
