.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 85%;
}

.links__list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-block-end: 15px;
  overflow: scroll;
  list-style: none;
  scrollbar-width: none;
  inline-size: 100%;
}

